.card {
  width: 100%;
  max-width: 270px;
  flex: 0 0 270px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  max-height: 600px;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.mat-mdc-card-avatar {
  margin-bottom: 0px;
}

.header-title {
  margin: 0 auto;
  padding-top: 0px;
}

.mat-mdc-button>.mat-icon {
  width: 100%;
  margin: auto;
  font-size: 30px;
}


.header-image {
  background-size: cover;
  background-position: center;
}

.card-poster {
  width: 100%;
  aspect-ratio: 2 / 1.5;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

.author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

.card {
  cursor: pointer;

  .price {
    padding: 4px 8px;
    border-radius: 4px;
    transition: 0.3s;
  }

  &:hover {
    .price {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
  }
}

.card:hover {
  scale: 1.02;
  z-index: 1;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
