@use '../../styles/mixins.scss' as mixins;

.card {
  width: 100%;
  max-width: 270px;
  flex: 0 0 270px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  padding: 15px;
}

.mat-mdc-card-header {
  @include mixins.flex($justify: space-between, $align: center);
  text-align: center;
  padding: 0px;
}

.mat-mdc-card-avatar {
  margin-bottom: 0px;
}

.header-title {
  margin: 0 auto;
  padding: 0px;
  line-height: 1;
  height: calc(1em * 4);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.mat-mdc-button>.mat-icon {
  width: 100%;
  margin: 0px auto;
  font-size: 30px;
}


.header-image {
  background-size: cover;
  background-position: center;
}

.poster-wrapper {
  width: 100%;
  @include mixins.flex($justify: center, $align: center);
  position: relative;
  overflow: hidden;
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  z-index: 0;
}

.poster-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background: rgba(18, 11, 53, 0.65);
  z-index: 1;
}

.card-poster {
  width: 130px;
  height: 90%;
  z-index: 1;
  display: block;
  box-shadow: 0px 0px 15px black;
  border-radius: 4px;
}

.author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.mat-mdc-card-content{
    padding: 0px;
}

.content-wrapper {
  @include mixins.flex($justify: space-between, $align: center);

  p {
    margin: 0;
  }
}

.actions {
  @include mixins.flex($justify: space-between, $align: center);
  padding: 0px;
  margin-top: auto;
}

.card {
  cursor: pointer;

  .price {
    padding: 4px 8px;
    border-radius: 4px;
    transition: 0.3s;
  }

  &:hover {
    .price {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }

  }
}

.card:hover {
  scale: 1.02;
  z-index: 1;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
