@if (book(); as book) {
<mat-card class="card-cart" appearance="outlined">
  <div class="wrapper-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [style.background-image]="'url(' + book.imageUrl + ')'"></div>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.category}}</mat-card-subtitle>
      <mat-card-subtitle class="stock">In stock: {{ book.copiesLeft - counter }}</mat-card-subtitle>

      <mat-card-actions>
        <button matButton (click)="cartToggled($event, book.id)">
          <mat-icon>{{ book.isInCart ? 'remove_shopping_cart' : 'add_shopping_cart' }}</mat-icon>
        </button>
      </mat-card-actions>

    </mat-card-header>

    <mat-card-content>
      <p class="price final">Final price: {{ (book.price * counter)| number:'1.2-2' }}$</p>
      <p class="price">Price: {{ book.price }}$</p>

      <mat-button-toggle-group>
        <button matButton (click)="counter = counter <2 ? 1 : counter - 1">
          <mat-icon>remove</mat-icon>
        </button>
        <mat-button-toggle disabled>{{counter}}</mat-button-toggle>
        <button matButton (click)="counter = book.copiesLeft - counter > 0 ? counter + 1 : counter">
          <mat-icon>add</mat-icon>
        </button>

      </mat-button-toggle-group>

    </mat-card-content>
  </div>


</mat-card>}
