@use "../../../../shared/styles/mixins.scss" as mixins;

.card-cart {
  width: 100%;
  padding: 15px;
  transition: .3s;
  position: relative;

  .price {
    padding: 4px 8px;
    border-radius: 4px;
    transition: 0.3s;
    margin: 0;
    text-align: end;
  }

  .mat-mdc-card-actions {
    opacity: 0;
    transition: 0.3s;
    padding: 0 !important;
  }

  &:hover {
    scale: 1.01;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);

    .price.final {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }

    .mat-mdc-card-actions {
      opacity: 1;
      transition: 0.3s;
    }

  }
}

.wrapper-card {
  @include mixins.flex($justify: space-between, $align: center);
  gap: 15px;
  flex-wrap: wrap;

  .mat-mdc-card-header {
    padding: 0;
    align-items: center;

    .header-image {
      width: 100px;
      height: 100px;
      background-size: cover;
      margin-bottom: 0px;
    }
  }

  .stock {
    font-size: 12px;
    color: #0000008a;
    padding-top: 5px;
    font-style: italic;
  }

  .mat-mdc-card-content {
    @include mixins.flex($justify: space-between, $align: flex-end);
    flex-direction: column;
    padding: 0;
    gap: 10px;

    .mat-button-toggle-group {
      border: 1px solid #0000001f;
      border-radius: 30px;

      .small {
        display: block;
        padding: 0px 5px;
        background-color: #0000001f;
      }

    }
  }

  .mat-mdc-button>.mat-icon {
    margin: 0 !important;
  }

}

.wrapper-btn {
  @include mixins.flex($justify: justify, $align: center);
  gap: 10px;
}


@media (max-width: 860px) {
  .wrapper-card {
    flex-direction: column;
    justify-content: space-around;

    .mat-mdc-card-content {
      width: 100%;
      align-items: center;
      justify-content: space-around;
      gap: 5px;

    }
  }

  .mat-mdc-card-actions {
    width: 48px;
    @include mixins.flex($justify: center, $align: center);
    opacity: 1 !important;
  }

  .wrapper-btn {
    width: 100%;
    justify-content: space-between;
  }

  mat-card-title {
    padding: 0 !important;
    padding-left: 15px !important;
  }

  mat-card-subtitle {
    padding-right: 0px !important;
  }


}
