@use "../../../../../shared/styles/mixins.scss" as mixins;

:host {
  @include mixins.flex($justify: center, $align: center);
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

mat-card {
  padding: 15px;
  width: 100%;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

form {
  display: flex;
  flex-direction: column;
}

.card-header {
  margin-bottom: 16px;
}

.card-header h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.field {
  display: grid;
  grid-template-columns: 140px 1fr auto;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.value {
  @include mixins.flex($align: center);
  min-height: 40px;
}

.value span {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
}

.value input {
  width: 100%;
}

.actions {
  @include mixins.flex($justify: flex-end);
  gap: 8px;

  button[matIconButton] {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }

  .save-btn mat-icon {
    color: green;
  }

  .cancel-btn mat-icon {
    color: var(--mat-sys-error);
  }
}

mat-error {
  grid-column: 2 / 4;
  color: var(--mat-sys-error);
  font-size: 14px;
}

.password-section {
  margin-top: 24px;
  padding-top: 16px;
}

.password-header {
  @include mixins.flex();
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 0;

  &:hover {
    color: var(--mat-sys-primary);
  }
}

.password-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  button[matIconButton] {
    margin-right: 10px;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

.password-actions {
  @include mixins.flex($justify: center, $align: center);
  gap: 10px;
  margin: 10px 0;

  button[matButton] {
    min-width: 120px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: var(--mat-sys-primary);
    color: white;
    text-transform: uppercase;
    transition: 0.2s ease;

    &:not(:disabled):hover {
      filter: brightness(1.1);
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      background-color: var(--mat-sys-on-surface-variant);
      cursor: default;

      &:hover,
      &:active {
        filter: none;
        box-shadow: none;
      }
    }
  }
}

.server {
  margin-top: 12px;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 13px;
  text-align: center;
}

.server-error {
  color: var(--mat-sys-error);
}

.server-success {
  color: green;
}

@media (max-width: 540px) {
  :host {
    max-width: 300px;

  }

  mat-card {
    form {
      gap: 10px;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--mat-sys-on-surface-variant);
    border-radius: 10px;
  }

  .password-actions {
    flex-direction: column;
  }
}
