@if (customerService.customer(); as customer) {
  <mat-card>
    <form [formGroup]="form" class="profile-form">
      <div class="card-header">
        <h2>Profile Information</h2>
      </div>

      <div class="field">
        <span class="label">First Name:</span>

        <div class="value">
          @if (editingField() !== 'firstName') {
            <span>{{ customer.firstName }}</span>
          } @else {
            <input matInput appearance="outline" formControlName="firstName" />
          }
        </div>

        <div class="actions">
          @if (editingField() !== 'firstName') {
            <button matIconButton (click)="edit('firstName')">
              <mat-icon>edit</mat-icon>
            </button>
          } @else {
            <button matIconButton class="save-btn" (click)="save('firstName')">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button matIconButton class="cancel-btn" (click)="cancel()">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </div>

        @if (
          editingField() === 'firstName' &&
          form.controls.firstName.touched &&
          form.controls.firstName.invalid
        ) {
          <mat-error>Invalid first name</mat-error>
        }
      </div>

      <div class="field">
        <span class="label">Last Name:</span>

        <div class="value">
          @if (editingField() !== 'lastName') {
            <span>{{ customer.lastName }}</span>
          } @else {
            <input matInput appearance="outline" formControlName="lastName" />
          }
        </div>

        <div class="actions">
          @if (editingField() !== 'lastName') {
            <button matIconButton (click)="edit('lastName')">
              <mat-icon>edit</mat-icon>
            </button>
          } @else {
            <button matIconButton class="save-btn" (click)="save('lastName')">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button matIconButton class="cancel-btn" (click)="cancel()">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </div>

        @if (
          editingField() === 'lastName' &&
          form.controls.lastName.touched &&
          form.controls.lastName.invalid
        ) {
          <mat-error>Invalid last name</mat-error>
        }
      </div>

      <div class="field">
        <span class="label">Email:</span>

        <div class="value">
          @if (editingField() !== 'email') {
            <span>{{ customer.email }}</span>
          } @else {
            <input matInput appearance="outline" formControlName="email" />
          }
        </div>

        <div class="actions">
          @if (editingField() !== 'email') {
            <button matIconButton (click)="edit('email')">
              <mat-icon>edit</mat-icon>
            </button>
          } @else {
            <button matIconButton class="save-btn" (click)="save('email')">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button matIconButton class="cancel-btn" (click)="cancel()">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </div>

        @if (
          editingField() === 'email' && form.controls.email.touched && form.controls.email.invalid
        ) {
          <mat-error>Invalid email</mat-error>
        }
      </div>

      <div class="field">
        <span class="label">Date of Birth:</span>

        <div class="value">
          @if (editingField() !== 'dateOfBirth') {
            <span>{{ customer.dateOfBirth | formatDate }}</span>
          } @else {
            <input matInput appearance="outline" type="date" formControlName="dateOfBirth" />
          }
        </div>

        <div class="actions">
          @if (editingField() !== 'dateOfBirth') {
            <button matIconButton (click)="edit('dateOfBirth')">
              <mat-icon>edit</mat-icon>
            </button>
          } @else {
            <button matIconButton class="save-btn" (click)="save('dateOfBirth')">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button matIconButton class="cancel-btn" (click)="cancel()">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </div>

        @if (
          editingField() === 'dateOfBirth' &&
          form.controls.dateOfBirth.touched &&
          form.controls.dateOfBirth.invalid
        ) {
          <mat-error>Date is required</mat-error>
        }
      </div>

      @if (saveError()) {
        <p class="server server-error">
          {{ saveError() }}
        </p>
      }

      @if (saveSuccess()) {
        <p class="server server-success">Saved successfully</p>
      }
    </form>
  </mat-card>
}

<mat-card class="password-section">
  <div
    class="password-header"
    tabindex="0"
    (click)="togglePassword()"
    (keydown.enter)="togglePassword()"
    (keydown.space)="togglePassword()"
  >
    <span>Change Password</span>
    <mat-icon>{{ showPassword() ? 'expand_less' : 'expand_more' }}</mat-icon>
  </div>

  @if (showPassword()) {
    <form [formGroup]="formPassword" (ngSubmit)="submit()" class="password-form">
      <mat-form-field appearance="outline">
        <mat-label>Current password</mat-label>

        <input
          matInput
          [type]="showCurrentPassword() ? 'text' : 'password'"
          formControlName="currentPassword"
        />

        <button
          matIconButton
          matSuffix
          type="button"
          (click)="showCurrentPassword.set(!showCurrentPassword())"
        >
          <mat-icon>
            {{ showCurrentPassword() ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>

        <input
          matInput
          [type]="showNewPassword() ? 'text' : 'password'"
          formControlName="newPassword"
        />
        @if (
          formPassword.controls.newPassword.touched &&
          (formPassword.controls.newPassword.hasError('pattern') ||
            formPassword.controls.newPassword.hasError('minlength'))
        ) {
          <mat-error
            >Password must be at least 8 characters and include letters and numbers</mat-error
          >
        }

        <button
          matIconButton
          matSuffix
          type="button"
          (click)="showNewPassword.set(!showNewPassword())"
        >
          <mat-icon>
            {{ showNewPassword() ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>

        <input
          matInput
          [type]="showConfirmPassword() ? 'text' : 'password'"
          formControlName="confirmPassword"
        />

        <button
          matIconButton
          matSuffix
          type="button"
          (click)="showConfirmPassword.set(!showConfirmPassword())"
        >
          <mat-icon>
            {{ showConfirmPassword() ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </mat-form-field>

      @if (
        formPassword.hasError('passwordMismatch') && formPassword.get('confirmPassword')?.touched
      ) {
        <mat-error>Passwords do not match</mat-error>
      }

      <div class="password-actions">
        <button
          matButton
          color="primary"
          type="submit"
          [disabled]="formPassword.invalid"
          class="btn-save"
        >
          Update password
        </button>

        <button matButton color="primary" (click)="cancelPassword()" class="btn-cancel">
          Cancel
        </button>
      </div>

      @if (serverError()) {
        <div class="server server-error">
          {{ serverError() }}
        </div>
      }
      @if (serverSuccess()) {
        <p class="server server-success">Password has been successfully updated</p>
      }
    </form>
  }
</mat-card>

<app-address-block />
