<div class="carousel-wrapper">
  <button matButton (click)="swiperEl.swiper.slidePrev()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>

  <swiper-container #swiperEl [slidesPerView]="1"
  [spaceBetween]="16"
    [breakpoints]="breakpoints" loop="true" class="carousel-container">
    @for (book of sliderBooks(); track book.id) {
    <swiper-slide>
      <ng-container *ngTemplateOutlet="cardTemplate(); context: { $implicit: book }"></ng-container>
    </swiper-slide>
    }
  </swiper-container>

  <button matButton (click)="swiperEl.swiper.slideNext()">
    <mat-icon> arrow_forward_ios</mat-icon>
  </button>
</div>
