<div class="carousel-wrapper">
  <button
    class="carousel-arrow carousel-arrow--left"
    type="button"
    (click)="swiperEl.swiper.slidePrev()"
  >
    ‹
  </button>

  <swiper-container
    #swiperEl
    slides-per-view="4"
    space-between="20"
    loop="true"
    class="carousel-container"
  >
    @for (book of sliderBooks(); track book.id) {
      <swiper-slide>
        <ng-container
          *ngTemplateOutlet="cardTemplate(); context: { $implicit: book }"
        ></ng-container>
      </swiper-slide>
    }
  </swiper-container>

  <button
    class="carousel-arrow carousel-arrow--right"
    type="button"
    (click)="swiperEl.swiper.slideNext()"
  >
    ›
  </button>
</div>
