<footer class="footer-wrapper">
  <mat-toolbar class="footer" color="primary">
    <div class="footer-group">
      <a matButton href="https://github.com/iskonplus" class="github-link" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub" />
      </a>

      <a matButton href="https://github.com/anast-ananko" class="github-link" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub" />
      </a>

      <a matButton href="https://github.com/shchepadzmitry" class="github-link" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub" />
      </a>
    </div>

    <a
      class="rsschool-link"
      href="https://rs.school/courses/angular"
      class="rs-link"
      target="_blank"
    >
      <img src="assets/images/rs-logo.png" alt="RSSchool" />
    </a>
  </mat-toolbar>
</footer>
