.search-form-field {
  width: 320px;
}

::ng-deep .search-form-field {
  background-color: white;
}

@media (max-width: 1024px) {
  .search-form-field {
    width: 220px;
  }
}

@media (max-width: 480px) {
  .search-form-field {
    width: 200px;
  }
}
